<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Battle Groups</h1>
  <table id="list">
    <thead>
      <% battlegroups.forEach(battlegroup => { %>
        <% if (user.profile._id.toString() === battlegroup.owner.toString()) { %>
        <tr>
          <th><%= battlegroup.name %></th>
        </tr>
        <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Location</th>
        <th>Ammo</th>
        <th>Fuel</th>
        <th>Days Underway</th>
        <th>
          <a href="/battlegroups/<%= battlegroup._id %>/edit">UPDATE</a>
        </th>
        <th>
          <form action="/battlegroups/<%= battlegroup._id %>?_method=DELETE" method="POST">
            <button>X</button>
          </form>
        </th>
      </tr>
    </thead>
    <tbody>
        <% battlegroup.ships.forEach(ship => { %>
          <tr>
          <td><%= ship.name %></td>
          <td><%= ship.class %> </td>
          <td><%= ship.location %></td>
          <td><%= ship.ammo %></td>
          <td><%= ship.fuel %></td>
          <td><%= ship.daysUnderway %></td>
        </tr>
        <% }) %>
        <% } %>
      <% }) %>
    </tbody>
  </table>

    <h2>Add Battle Group</h2>
    <form action="/battlegroups" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <label for="aor-select">AOR:</label>
      <select name="aor" id="aor-select"> 
        <option value="3rd Fleet">3rd Fleet</option>
        <option value="2nd Fleet">2nd Fleet</option>
        <option value="4th Fleet">4th Fleet</option>
        <option value="6th Fleet">6th Fleet</option>
        <option value="5th Fleet">5th Fleet</option>
        <option value="7th Fleet">7th Fleet</option>
      </select>
      <button type="submit">Add Battlegroup</button>
    </form>
</main>

<%- include('../partials/footer') %>