<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Battle Groups</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Ships</th>
        <th>AOR</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% battlegroups.forEach(battlegroup => { %>
        <tr>
          <td><%= battlegroup.name %></td>
          <td><%= battlegroup.location %> </td>
          <td><%= battlegroup.ships %> </td>
          <td><%= battlegroup.aor %> </td>
          <td>
            <form action="/battlegroups/<%= battlegroup._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

    <h2>Add Battle Group</h2>
    <form action="/battlegroups" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <label for="aor-select">AOR:</label>
      <select name="aor" id="aor-select"> 
        <option value="3rd Fleet">3rd Fleet</option>
        <option value="2nd Fleet">2nd Fleet</option>
        <option value="4th Fleet">4th Fleet</option>
        <option value="6th Fleet">6th Fleet</option>
        <option value="5th Fleet">5th Fleet</option>
        <option value="7th Fleet">7th Fleet</option>
      </select>
      <button type="submit">Add Battlegroup</button>
    </form>
</main>

<%- include('../partials/footer') %>