<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/battlegroups/index.css"/>
<%- include('../partials/nav') %>

<main>
  <h1>Battle Groups</h1>
  <table id="list">
    <thead>
      <% battlegroups.forEach(battlegroup => { %>
        <% if (user.profile._id.toString() === battlegroup.owner.toString()) { %>
        <tr id="first-row">
          <th id="battlegroup-name"><%= battlegroup.name %></th>
          <th><%= battlegroup.aor %></th>
          <th>
            <a href="/battlegroups/<%= battlegroup._id %>/edit" id="update-button">UPDATE</a>
          </th>
          <th>
            <form action="/battlegroups/<%= battlegroup._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
          </th>
        </tr>
        <tr id="subheader">
        <th></th>
          <th>Name</th>
          <th>Class</th>
          <th>Location</th>
          <th>Ammo</th>
          <th>Fuel</th>
          <th>Days Underway</th>
      </tr>
    </thead>
    <tbody>
        <% battlegroup.ships.forEach(ship => { %>
          <tr id="content">
          <td></td>
          <td><%= ship.name %></td>
          <td><%= ship.class %> </td>
          <td><%= ship.location %></td>
          <td><%= ship.ammo %></td>
          <td><%= ship.fuel %></td>
          <td><%= ship.daysUnderway %></td>
        </tr>
        <% }) %>
        <% } %>
      <% }) %>
    </tbody>
  </table>

    <h2>Add Battle Group</h2>
    <form action="/battlegroups" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off" required="required">
      </label>
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <label for="aor-select">AOR:</label>
      <select name="aor" id="aor-select"> 
        <option value="3rd Fleet">3rd Fleet</option>
        <option value="2nd Fleet">2nd Fleet</option>
        <option value="4th Fleet">4th Fleet</option>
        <option value="6th Fleet">6th Fleet</option>
        <option value="5th Fleet">5th Fleet</option>
        <option value="7th Fleet">7th Fleet</option>
      </select>
      <button type="submit">Add Battlegroup</button>
    </form>
</main>

<%- include('../partials/footer') %>