<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ships/new.css"/>
<%- include('../partials/nav') %>

<% if (user) { %> 
  <h2>Edit Ship</h2>
  <form action="/ships/<%= ship._id %>?_method=PUT" method="POST">
    <div id="head">
    <label>
      Name: 
      <input type="text" name="name" autocomplete="off" value="<%= ship.name %>">
    </label>
    <label for="class-select">Class:</label>
      <select name="class" id="class-select"> 
        <option value="DDG">DDG</option>
        <option value="CG">CG</option>
        <option value="CVN">CVN</option>
        <option value="SSN">SSN</option>
        <option value="SSBN">SSBN</option>
        <option value="SSGN">SSGN</option>
      </select>
    <label>
      Location: 
      <input type="text" name="location" autocomplete="off"
      value="<%= ship.location %>">
    </label>
  </div>
  <div id="content">
    <div id="box1">
    <label>
      Fuel:
      <input type="number" name="fuel" autocomplete="off"
      value="<%= ship.fuel %>">
    </label>
    <label>
      Food:
      <input type="number" name="food" autocomplete="off"
      value="<%= ship.food %>">
    </label>
    <label for="aor-select">AOR:</label>
    <select name="aor" id="aor-select"> 
      <option value="3rd Fleet">3rd Fleet</option>
      <option value="2nd Fleet">2nd Fleet</option>
      <option value="4th Fleet">4th Fleet</option>
      <option value="6th Fleet">6th Fleet</option>
      <option value="5th Fleet">5th Fleet</option>
      <option value="7th Fleet">7th Fleet</option>
    </select>
    <label>
      Characteristics:
      <input type="text" name="characteristics" autocomplete="off" value="<%= ship.characteristics %>">
    </label>
    </div>
    <div id="box2">
    <label>
      Ammo Remaining:
      <input type="text" name="ammo" autocomplete="off"
      value="<%= ship.ammo %>">
    </label>
    <label>
      Tasking:
      <input type="text" name="tasking" autocomplete="off"
      value="<%= ship.tasking %>">
    </label>
    <label>
      Days underway:
      <input type="text" name="daysUnderway" autocomplete="off"
      value="<%= ship.daysUnderway %>">
    </label>
    <label for="independent-steaming-checkbox">Independent Steaming</label>
    <input 
    type="checkbox" 
    name="independentSteaming" 
    <%= ship.independentSteaming ? 'checked' : '' %>
    id="independent-steaming-checkbox" >
    </div>
    </div>
    <button type="submit">Update Ship</button>
  </form>
<% } %>

<%- include('../partials/footer') %>