<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1></h1>
  <h1>Ships</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Battlegroup</th>
        <th>AOR</th>
        <th>Location</th>
        <th>Class</th>
        <th>Characteristics</th>
        <th>Ammo</th>
        <th>Tasking</th>
        <th>Fuel</th>
        <th>Food</th>
        <th>Independent Steaming</th>
        <th>Days underway</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% ships.forEach((ship) => { %>
        <% if (user.profile._id.toString() === ship.owner.toString()) { %>
        <tr>
        <td><%= ship.name %></td>
        <td><%= ship.battleGroup.length ? ship.battleGroup[0].name : '' %></td>
        <td><%= ship.aor %></td>
        <td><%= ship.location %></td>
        <td><%= ship.class %></td>
        <td><%= ship.characteristics %></td>
        <td><%= ship.ammo %></td>
        <td><%= ship.tasking %></td>
        <td><%= ship.fuel %>%</td>
        <td><%= ship.food %>%</td>
        <td><%= ship.independentSteaming ? 'True' : 'False'%></td>
        <td><%= ship.daysUnderway %></td>
        <td>
          <a href="/ships/<%= ship._id %>/edit">UPDATE</a>
        </td>
        <td>
          <form action="/ships/<%= ship._id %>?_method=DELETE" method="POST">
            <button>X</button>
          </form>
        </td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
  <a href="/ships/new">Add Ship</a>
</main>

<%- include('../partials/footer') %>
